LOGIN_SHEET=MLS
MLS_API_BASE_URL=https://script.google.com/macros/s/AKfycbyPJ1DViXnL8ft-9yPVjCs9UFo87oc3-u8g2tMqwyu9NlcUMrfZh_9RtO12UIChmjJv/exec
MUNICIPALITY_API_BASE_URL=https://ph1.csrgenerator.site/excel/json/generate_1/9b28a812be6142ad5e6ed7f1c4755ee8
MUNICIPALITY_API_SIG=replace_me
USE_SERVER_SHEET_PROXY=1
USE_SERVER_AUTH=1
